@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@page "/showbb"

<h1>Status of All Authorizer Nodes </h1>

@if (NodeState.Value.IsLoading)
{
    <p><em>Checking all nodes... This may take a while.</em></p>
}
@if (NodeState.Value.nodeStatus != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>PoS Wallet</th>
                <th>IP Address</th>
                <th>API Status</th>
                <th>Last Cons Block</th>
                <th>In Sync</th>
                <th>Version</th>
                <th>Status</th>
                <th>Total Block Count</th>
                <th>Last Float Hash</th>
                <th>Connected Peers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kvp in NodeState.Value.nodeStatus)
            {
            <tr>
                <td>@kvp.Key.Substring(0, 10)...</td>
                <td>@NodeState.Value.bb.AllNodes[kvp.Key].IPAddress</td>
                @if(kvp.Value != null)
                    {
                <td>Connected OK.</td>
                <td>@kvp.Value.LastConsolidationHash.Substring(0, 10)...</td>
                <td>@kvp.Value.SyncState</td>
                <td>@kvp.Value.Status.version</td>
                <td>@kvp.Value.Status.state</td>
                <td>@kvp.Value.Status.totalBlockCount</td>
                <td>@kvp.Value.Status.lastUnSolidationHash.Substring(0, 10)...</td>
                <td>@kvp.Value.Status.connectedPeers</td>
                    }
                else
                {
                <td>Failed to connect</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                }
            </tr>
            }
        </tbody>
    </table>
}


